<div class="fixed">
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="<%= root_url %>">Link.ly</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <% if user_signed_in? %>
        <li class="has-dropdown">
          <a href="#">Account</a>
          <ul class="dropdown">
            <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete, id: 'sign-out' %></li>
            <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to 'Sign in', new_user_session_path %></li>
      <% end %>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li class="has-form">
        <div class="row collapse">
          <% if request.path == my_links_path %>
            <%= form_tag(my_links_path, :method => "get", id: "search-form") do %>
              <div id="search_area" class="large-6 small-8 columns">
                <input id="search" name="search" placeholder="Search Bookmarks" type="text">
              </div>
              <div class="large-3 small-2 columns">
                <%= submit_tag "Search", :name => nil, class: "alert button expand" %>
              </div>
              <div class="large-3 small-2 columns">
                <% if user_signed_in? %>
                <%= link_to "Private", bookmarks_path, class: "alert button expand", id: "private-button" %>
                <% end %>
              </div>
            <% end %>
          <% else %>
            <%= form_tag(bookmarks_path, :method => "get", id: "search-form") do %>
              <div id="search_area" class="large-6 small-8 columns">
                <input id="search" name="search" placeholder="Search Bookmarks" type="text">
              </div>
              <div class="large-3 small-2 columns">
                <%= submit_tag "Search", :name => nil, class: "alert button expand" %>
              </div>
              <div class="large-3 small-2 columns">
                <% if user_signed_in? %>
                  <%= link_to "Public", my_links_path, class: "alert button expand", id: "private-button" %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </li>
    </ul>
  </section>
</nav>
</div>
