<!DOCTYPE html>
<html>
  <head>
    <title>Omarker</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>
    </head>
<% if current_user %>
  <body style="background-image: url(http://topwalls.net/wp-content/uploads/2012/04/Blurry-Daisies.jpg);">
<% else %>
  <body style="background-image: url(http://megathy.com/stockimagine/wp-content/uploads/2009/02/blurry-lights-34.jpg)">
<% end %>
    <%= render 'layouts/nav' %>
    <% flash.each do |key, value| %>
      <div class="alert-box round <%= flash_class(key) %>">
        <%= value %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
